.hidden {
    display: none;
}

.image-button {
    padding: 20px 50px;
    width: 70;
    font-size: 15;
    color: rgb(211, 239, 249);
    background: rgb(26, 83, 102);
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

#images-holder {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}