#color-selector {
    width: 100px;
}

#table {
    height: 460px;
    width: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.table-cell {
    background-color: #ddeff0;
    height: 70px;
    width: 70px;
    border: 1px solid #105254;
    border-radius: 15px;
    margin: 2px;
    font-size: 45px;
    text-align: center;
    line-height: 70px;
}