table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

td{
    width: 80px;
}

tr{
    height: 25px;
}

.first-row{
    background-color: #018f8f;
}

.first-row:hover{
    background-color: #A65221;
}

.second-row{
    background-color: #f5f501;
}
.second-row:hover{
    background-color: #5300A8;
}